.ab-me-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    gap: 4rem;
    padding-bottom: 40px;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}
.title h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;

    border-bottom: 1px solid black;
    padding-bottom: 10px;

}

.ab-me-text {
    flex: 2;
}

.ab-me-text p {
    line-height: 1.6;
}

.ab-me-photo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    
}

.ab-me-photo img {
    max-width: 250px;
    width: 100%;
    border-radius: 12px;
}

@media (max-width: 700px) {
    .ab-me-content {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        padding: 0 20px 40px;
    }

    .ab-me-photo {
        justify-content: center;
        order: -1;
    }

    .ab-me-photo img {
        max-width: 180px;
    }
}